  @font-face{font-family:Avenir;src:url("../font/avenir/AvenirLTStd-Book.otf") format("opentype")}
  @font-face{font-family:Avenir-light;src:url("../font/avenir/AvenirLTStd-Light.otf") format("opentype")}
  @font-face{font-family:Avenir-light-oblique;src:url("../font/avenir/AvenirLTStd-LightOblique.otf") format("opentype")}
  @font-face{font-family:Avenir-bold;src:url("../font/avenir/AvenirLTStd-Heavy.otf") format("opentype")}
  @font-face{font-family:Avenir-bolder;src:url("../font/avenir/AvenirNextLTPro-Bold.otf") format("opentype")}
  @font-face{font-family:Avenir-medium-oblique;src:url("../font/avenir/AvenirNextLTPro-BoldCnIt.otf") format("opentype")}
  @font-face{font-family:Avenir-bold-oblique;src:url("../font/avenir/AvenirLTStd-HeavyOblique.otf") format("opentype")}*{-webkit-box-sizing:border-box;box-sizing:border-box}
