/*//////// GRID /////////*/
.grid-1 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2fr 3fr 3fr 3fr;
	/* grid-gap: 15px; */
}


* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

body {
  background-color: #FFFBF3;
  color: #58595B;
}

ul {
  list-style-type: none;
}

strong {
  font-size: bolder;
  color: #82A37F;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/*//////////////////////////// MAIN LANDING PAGE //////////////////////////////////*/
/* /////////////////////////////////////////////////////////////////////////////// */

#landing-page div {
    position: relative;
}

/* SIDEBAR NAVIGATION */
.side-nav {
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  top: 2em;
}

.side-nav a {
  text-decoration: none;
  color: #FCDF68;
  font-size: 1.7em;
  display: block;
  letter-spacing: 0.1em;
}

.side-nav a:hover {
  color: #82A37F;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

/* LANDING PAGE */
.landing-copy {
  top: 10em;
}

.landing-title {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: bolder;
  color: #82A37F;
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: 0.4em;
  margin: 0;
}

.landing-content {
  font-family: 'Roboto Mono', sans-serif;
  font-style: italic;
  max-width: 18em;
  line-height: 25px;
}

.landing-image {
  top: 8em;
}

.landing-copy-1 {
  top: 20em;
}

.divider {
  height: 15px;
  width: 70px;
  border-radius: 2px;
  background-color: #82A37F;
  margin-top: 4em;
  margin-bottom: 2em;
}

.portrait {
  width: 100%;
  height: auto;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  margin-left: 4em;
}

.footer-copyright {
  font-family: 'Roboto Mono', sans-serif;
}

/* RESPONSIVENESS */
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-nav {
    top:0;
  }
}
