/* IMPLEMENT FONT */
@font-face {
  font-family:brandon-grotesque;
  src:url("../font/brandon-grotesque/Brandon_reg.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family:brandon-grotesque;
  src:url("../font/brandon-grotesque/Brandon_reg_it.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family:brandon-grotesque;
  src:url("../font/brandon-grotesque/Brandon_med.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family:brandon-grotesque;
  src:url("../font/brandon-grotesque/Brandon_bld.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family:brandon-grotesque;
  src:url("../font/brandon-grotesque/Brandon_blk.otf") format("opentype");
  font-weight: bolder;
}

* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

body {
  background-color: #FFFBF3;
}

/* SIDEBAR NAVIGATION */
.side-nav {
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  margin-top: 10em;
  margin-left: 4em;
}

.side-nav a {
  text-decoration: none;
  color: #FCDF68;
  font-size: 2em;
  display: block;
}

.side-nav a:hover {
  color: #82A37F;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

/* RESPONSIVENESS */
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-nav {
    top:0;
  }
}
