* {
  box-sizing: border-box;
}


section {
  margin-bottom: 3em;
}

#interactive_elements, #text_elements, #combined_elements {
  padding: 0.5em 0;
}

pre {
  display: block;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  display: block;
  background-color: #D6E1DC;
  padding: 0 2em;
}

.item-details {
  margin-left: 1em;
  padding-left: 1.5em;
  border-left: solid 8px #31495A;
}

.title {
  margin-bottom: 1.5em;
}

.mini-nav  ul {
  list-style-type: none;
  padding-left: 0;
}

.mini-nav a {
  margin-left: 0;
  margin-top: 0.5em;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the in-text-link */


/* Styling for the navigation button */


/* Styling for submit/reset button */
.regular-button {
  display: block;
  padding: 0.7em 0.9em;
  text-align: center;
  color: #43848F;
  letter-spacing: 1px;
  background-color: #FFF;
  border: solid 1.5px #43848F;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.regular-button:hover, .form-button:focus {
  background-color: #43848F;
  color: #FFF;
}

/* Styling for text input field */
.text-input {
  font-family: 'Avenir', sans-serif;
  font-size: 100%;
  outline: none;
  padding: 0.3em;
  border: 1px solid #241f20;
}

.text-input:hover, .text-input:focus {
  border-color: #43848F;
}

/*
  TEXT ELEMENTS -------------------
*/

#text_elements li {
  list-style-type: inherit;
  padding-left: 0;
}

#text_elements ul {
  list-style-type: inherit;
}

body {
  font-family: 'Avenir', serif;
  /* margin: 0 auto;
  padding: 1em; */
  color: #241f20;
  background-color: white;
}

p {
  line-height: 1.5rem;
}


/* setting font size with px */
h1 {
  font-size: 35px;
  color: #43848F;
  font-family: 'Avenir-bold', sans-serif;
}

h2 {
  font-size: 22px;
  color: #31495A;
  font-family: 'Avenir-bold', sans-serif;
}

h3 {
  font-size: 18px;
  color: #43848F;
  font-family: 'Avenir-bold-oblique', sans-serif;
}
/* h2 {
  color: #43848F;
} */

li {
  line-height: 1.5em;
}

/*
  COMBINED ELEMENTS -------------------
*/
/* Styling for navigation bar */
.styleguide .nav-buttons  {
  position: relative;
}


/* styling for grid */
.empty {
  height: 50px;
  background-color: #43848F;
  margin-bottom: 0.5rem;
}

.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33%;
}
.grid-6 {
  width: 50%;
}
.grid-12 {
  width: 100%;
}

/* Styling for colour swatches */
.colors {
  display: flex;
  /* justify-content: space-evenly; */
}

.colors div {
  flex-basis: 100%;
}

.colors p {
  padding: 0 1em;
}

.white {
  background-color: #fff;
}

.pink {
  /* background-color: #FFA797; */
  background-color: #FFA797;
}

.green {
  background-color: #43848F;
}

.dark-green {
  background-color: #31495A;
}


.styleguide .intro {
  margin-bottom: 5em;
}
/* Styling for citations */
.citation, .styleguide {
  margin: 5em;
}

.citation ul {
  list-style-type: none;
  padding-left: 0;
}

.citation a {
    color: #241f20;
    text-decoration: none;
    text-transform: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.citation a:hover, .citation a:focus {
  border-color: #43848F;
  color: #43848F;
}

.reference {
  margin-top: 3em;
}

.image-reference {
  margin-top: 4em;
}

@media (max-width: 558px) {
  .citation, .styleguide {
    margin: 5em 1.4em;
  }
  .styleguide .about-content{
    padding: 2em 1em;
  }
  .citation .about-content ul, .styleguide .about-content ul {
    padding: 0;
  }
}
